<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.wlabuda.objectcontrolapp" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUD_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/objectcontrol"
        android:screenOrientation="nosensor"
        android:configChanges="orientation|keyboardHidden"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateUnchanged"
       >
        <activity
            android:name="pl.wlabuda.objectcontrolapp.Gps2sms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
